@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.conteudo {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    .card {
        width: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
        background: #212123;
        padding-bottom: 1rem;
        .cabecalho {
            background: #efefef;
            height: 100px;
        }
        .corpo {
            display: flex;
            flex-direction: column;
            color: #959595;
            .img__usuario {
                max-width: 80px;
                border-radius: 30px;
                border: 5px solid #fff;
                margin-top: -45px;
                align-self: center;
            }
            .nome,
            .tipo {
                align-self: center;
                margin: 0;
            }
            .nome {
                color: #efefef;
            }
            .redes__sociais {
                display: grid;
                justify-content: center;
                grid-template-rows: repeat(3, 35px);
                margin-top: 1rem;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #959595;
                    font-size: .8rem;
                    transition: .3s all ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                    img {
                        width: 30px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}